body, html, .paper {
    height: 100%;
}


.progress {
    transition: width 1s ease-in-out;
}

.spin {
    font-size: 80px;
    display: inline-block;
    animation: spin 3s infinite linear;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  