#palm-wrapper {
  background-image: linear-gradient(
    to bottom,
    #f6f6f6,
    #ff9200,
    #ff9200,
    #f3e999,
    rgb(0, 195, 255),
    #0010ff
  );
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

/* body.darkmode {
  filter: invert(100%) hue-rotate(180deg);
}

body.darkmode img,
body.darkmode svg,
body.darkmode #palm-wrapper {
  filter: invert(100%) hue-rotate(180deg);
}

body.darkmode #palm-wrapper {
  background-image: linear-gradient(
    to bottom,
    #090909,
    #ff9200,
    #ff9200,
    #f3e999,
    rgb(0, 195, 255),
    #0010ff
  );
} */

body {
  margin-top: 64px;
}

.caption {
  margin: 0;
}

svg#Kolping_Logo {
  display: block;
  margin: auto;
  fill: black;
}

svg#Kolping_Logo path {
  stroke: #000;
  animation: drawKolping 4s 1 ease-in-out;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

@keyframes drawKolping {
  0% {
    stroke-dashoffset: 1000;
    fill-opacity: 0;
  }

  30% {
    fill-opacity: 0;
  }

  85% {
    stroke-dashoffset: 0;
  }

  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}

svg#JP_Logo {
  fill: white;
  max-width: 750px;
  width: 100%;
  height: 350px;
}

svg#JP_Logo path#innerText {
  /* stroke: #ff8c00; */
  stroke-width: 3;
  stroke-dasharray: 190737;
  animation: drawInner 4s 1 ease-in-out;
}

svg#JP_Logo path#outerText {
  /* stroke: #000; */
  stroke-width: 3;
  stroke-dashoffset: 190737;
  animation: drawOuter 4s 1 ease-in-out;
}

@keyframes drawOuter {
  0% {
    stroke-dashoffset: 190737;
    fill-opacity: 0;
  }

  10% {
    fill-opacity: 0;
  }

  40% {
    stroke-dashoffset: 0;
  }

  50% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes drawInner {
  0% {
    stroke-dashoffset: 190737;
    fill-opacity: 0;
  }

  30% {
    stroke-dashoffset: 190737;
    fill-opacity: 0;
  }

  50% {
    fill-opacity: 0;
  }

  85% {
    stroke-dashoffset: 0;
  }

  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}

#palm-wrapper svg {
  max-width: 500px;
  margin: auto;
  display: flex;
}

div.row {
  align-items: center;
  justify-content: left;
}

#palm-wrapper span {
  text-align: center;
  width: 100%;
  color: white;
}

#palm-wrapper span a {
  background-image: initial;
  color: white;
}

.background-secondary {
  background-color: #db36ff;
}

nav {
  background-color: rgb(65, 64, 62);
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

nav a {
  color: #f6f6f6 !important;
  border-color: #f6f6f6;
}

nav a:hover {
  color: #00f9f9 !important;
  border-color: #00f9f9;
}

.paper {
  background-color: #f6f6f6;
  border: 0px solid;
}

.photos {
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;
}

.photos img {
  width: 100%;
  height: auto;
  transition: transform 0.25s ease-in-out;
}

.photos img:hover {
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  .photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 800px) {
  .photos {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 400px) {
  .photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

.thumb {
  filter: blur(4px);
}

#progress {
  visibility: hidden;
}

.progress .bar {
  transition: 1s ease-in-out;
}

span.note {
  display: none;
}

h2 svg {
  height: 3rem;
  position: relative;
  top: 0.15em;
  width: auto;
}

td svg {
  height: 1.25rem;
  position: relative;
  top: 0.15em;
  width: auto;
}

.full-width {
  width: 100%;
}

.form-group {
  margin: 1rem;
}

.prefix-icon {
  height: 23px;
  margin-right: 5px;
}

.hidden {
  display: none !important;
}

.hideForGuest {
  display: none !important;
}

.signedIn li.hideForGuest {
  display: inline-block !important;
}

.signedIn .hideForGuest {
  display: flex !important;
}

.signedIn .hideForUser {
  display: none;
}

.hideForNonAdmin {
  display: none !important;
}

.admin .hideForNonAdmin {
  display: initial !important;
}

input.invalid,
select.invalid {
  border-color: red !important;
}
